* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html {
    height: 100%;
}

body {
    background: url('bg2.jpg') no-repeat center center fixed; 
    display: grid;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #333;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100%;
}

#content {
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

#svg2{
    min-width: 200px;
}

#box {
    border: 2px solid black;
    min-width: 200px;
    max-width: 400px;
    max-height: 500px;
    background: rgba(223, 206, 174, .8);
    padding: 1em;
}

#box h1 {
    text-align: center;
    padding: 0.5em 0;
}

ul {
    list-style: none;
}

li {
    padding: 1em;
}

#box span {
    font-weight: 800;
}

form {
    text-align: center;
}

footer {   
    color: #fff;
    width: 100%;
    padding: 1em;
    background: black;
    align-self: flex-end;
    position:fixed;
    text-align: center;
}

footer a:hover {
    color: yellow;
    cursor: pointer;
}

svg path {
    width: 50%;
    height: 50%;
    stroke-width: 0.5;
}

svg path:hover {
    fill: green !important;
}

#legend {
    background: rgba(223, 206, 174, .8);
    padding: 2em;
    border: 2px solid black;
}

#legend h1 {
    text-align: center;
}

.pop_box {
    padding: 5px;
    text-align: center;
}

#fir_pop {
    background: #FFF7BC;
}

#sec_pop {
    background: #FEE391;
}

#thr_pop {
    background: #FEC44F;
}

#four_pop {
    background: #FE9929;
}
#fif_pop {
    background: #EC7014;
}
#six_pop {
    background: #CC4C02;
}
#seven_pop {
    background: #993404;
}

#eight_pop {
    background: #662506;
}

#nine_pop {
    background: #3a1200;
}

.white {
    color: #ffffff;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}